<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Invoices</h2>
<form method="get">
    <input type="text" name="q" placeholder="Search by name or phone">
    <button type="submit">Search</button>
</form>
<ul>
    {% for invoice in object_list %}
        <li>
            <strong>{{ invoice.customer.name }}</strong> - {{ invoice.sale_date }}
            <ul>
                {% for item in invoice.items.all %}
                    <li>{{ item.medicine.name }} x {{ item.quantity }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

</body>
</html>