<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoices</title>
</head>
<body>

<h2>Invoices</h2>
<form method="get">
    <input type="text" name="q" placeholder="Search by name or phone">
    <button type="submit">Search</button>
</form>
<ul>
    {% for invoice in object_list %}
        <li>
            <a href="{% url 'invoice_detail' invoice.id %}">
                Invoice #{{ invoice.id }} - {{ invoice.customer.name }} - {{ invoice.sale_date }} - Total: {{ invoice.total_price }}৳
            </a>
        </li>
    {% endfor %}
</ul>

</body>
</html>